h1 Hi, i'm Felix.
p I'm a iOS developer &amp; web enthusiast based in Berlin, Germany.
p
  | My current challenge is to revolutionize the agriculture at 
  | #[a(href="http://website.trecker.com" target="_blank") Trecker.com].

p 
  | You can find me on 
  | #[a(href="http://twitter.com/felixwostal" target="_blank") Twitter], 
  | #[a(href="http://codepen.io/felixw" target="_blank") Codepen] or just write me a classical 
  | #[a(href="mailto:hello@felixwostal.de?subject=Hi Felix") mail].